.seg-fill {
    position: absolute;
    background-color: #175db6;
    height: 5px;
    z-index: 0;
}

.container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    height: 40px;
    width: 180px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    display: inline-block;
}


.track {
    position: absolute;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background-color: lightgrey;
}

.slider {
  border-color: rgba(0, 0, 0, .5);
  background-color: #739fd8;
  width: 10px;
  height: 20px;
  top: -8px;
}

.slider:hover {
  cursor: -webkit-grab;
  background-color: #175db6;
}

.slider:active {
  cursor: -webkit-grabbing;
  background-color: #175db6;
}

.left-slider {
    position: absolute;
    left: -4px;
    border-radius: 100% 0 0 100%;
    box-shadow: -1px 0 inset #175db6;
    z-index: 1;
}

.right-slider {
    position: absolute;
    left: 2px;
    border-radius: 0 100% 100% 0;
    box-shadow: 1px 0 inset #175db6;
    z-index: 2;
}
