.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.view-nav {
  z-index: 10000;
  height: 100%;
  width: 30px;
  display: flex;
  flex-flow: row;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-weight: 500;
  float: right;
}

.nav-tile {
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  padding: 5px;
  padding-top: 15px;
  //padding-bottom: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-tile:hover {
  box-shadow: 2px -2px inset, -1px 1px inset;
  background: rgba(23, 93, 182, 0.1);
}

.nav-tile-selected {
  background-color: #175db6;
}


.view-component {
  height: fit-content;
  min-height: 30vh;
  width: fit-content;
  min-width: 100%;
  box-sizing: border-box;
  //give a couple scrolls of padding at the top, and 3/4 a screen of leeway at the bottom
  padding: 240px 20px 75vh 20px;
}

.view-component:first-child {
  padding-top: 20px;
}

.view-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.view-container:hover {
  overflow: auto;
  -webkit-mask-position: left top;
  mask-position: left top;
}

.view-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.view-container::-webkit-scrollbar,
.view-container::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.view-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4); 
}
.view-container::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1); 
}

.view-component-wrapper {
  height: fit-content;
  width: fit-content;
}

.focus-control {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  height: fit-content;
  padding: 20px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  min-width: fit-content;
}
