.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.map {
    height: 100%;
    width: 100%;
}

.map-container {
    //position: absolute;
    // height: 100%;
    width: 100%;
    flex: 1;
}

.cursor-grabbing {
    cursor: grabbing !important;
}

.cursor-crosshair {
    cursor: crosshair;
}

::ng-deep .leaflet-control-scale-line {
    font-size: 15px;
}