.banner {
    display: flex;
    background-color: yellow;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.material-icons {
    width: 30px;
}