.form-body {
  padding-top: 30px;
  padding-bottom: 20px;
}

.category-label {
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

.control {
  clear: right;
}

.control-subgroup {
  padding-left: 20px;
}